/*=================================
  BASE STYLES
==================================*/
body {
  color: #f9f9f9;
}


/*=================================
  HERO
==================================*/

#hero {
  font-family: 'Lato', sans-serif;
  color: #f9f9f9;
  background: url("https://images.unsplash.com/photo-1460036521480-ff49c08c2781?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b24fa7588a4b95f6301bc6d60908db23");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  padding: 5% 5% 5% 5%;
}

#hero h1, #hero h3 {
  text-align: center;
}
#hero h1 {
  font-weight: 700;
  font-size: 7em;
}

#hero h3 {
  font-weight: bold;
  font-size: 4em;
}


/*=================================
  ABOUT
==================================*/

/*=================================
  PORTFOLIO
==================================*/

/*=================================
  CONTACT
==================================*/
